.recharts-wrapper {
  max-width: 50%;
  max-height: 50%;
}
.recharts-legend-wrapper {
  position: relative !important;
}
.recharts-tooltip-wrapper {
  background-color: #f0f0ef;
  border-radius: 8px;
  padding: 8px;
}
