<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-signin-client_id" content="<%= process.env.CLIENT_ID%>">
  <link rel="stylesheet" href="index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="http://localhost:3333/index.css">

  <title>Login Page</title>
</head>

<body>
  <main>
    <img src="logo.svg" class="logoDoTexto">
    <p class="texto">Dataviewer é uma ferramenta de análise de dados que apresenta informações relevantes para o professor e aluno, de forma a contribuir com a implementação da educação 4.0. A plataforma digital fornece uma visão geral para o professor sobre o aprendizado dos seus alunos, através de um dashboard. Enquanto que no ambiente do aluno são fornecidos feedbacks quanto à assimilação do conteúdo e funcionalidades que estimulam o aprendizado de forma personalizada. Tudo isso em tempo real e de forma automatizada.</p>
    <img src="rapazSentado.svg" class="rapazSentado">
    <div class="retangulo">
      <p></p>
    </div>
    <img src="logoDoLogin.svg" class="logoDoLogin">
</main>
  <form class="teste">
    <input type="text" placeholder="User">
  </form>
  <!-- Google Button -->
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
  <div class="status"></div>

  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <script>
    async function onSignIn(googleUser) {
      const profile = googleUser.getBasicProfile();
      const email = profile.getEmail();

      // gerar token
      const id_token = googleUser.getAuthResponse().id_token;

      // api verifica se o domínio email está listado para pôr token nos cookies
      const response = await fetch("/users/auth", {
        method: "POST",
        body: JSON.stringify({
          token: id_token,
          email: email
        }),
        headers: {
          "Content-Type": "application/json"
        }
      });

      const data = await response.json();

      console.log(data);

      if (data.length === 0) {

        // excluir cookies da autenticação antiga
        gapi.auth2.getAuthInstance().disconnect();

        // deslogue ele
        signOut();

        // lance o erro
        throw new Error("Acesso negado: o domínio do email não está listado");

      } else {

        window.location.href = 'http://localhost:3000/';
      }

    }

    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('Você foi deslogado.');
      });
    }

  </script>
</body>

</html>