<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-signin-client_id" content="<%= process.env.CLIENT_ID%>">
  <link rel="stylesheet" href="index.css">

  <title>Login Page</title>
</head>

<body>

  <!-- Google Button -->
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
  <div class="status"></div>

  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <script>
    async function onSignIn(googleUser) {
      const profile = googleUser.getBasicProfile();
      const email = profile.getEmail();

      // gerar token
      const id_token = googleUser.getAuthResponse().id_token;

      // api verifica se o domínio email está listado para pôr token nos cookies
      const response = await fetch("/auth", {
        method: "POST",
        body: JSON.stringify({
          token: id_token,
          email: email
        }),
        headers: {
          "Content-Type": "application/json"
        }
      });

      const data = await response.json()

      if (data.length === 0) {
        signOut();
        throw new Error("Acesso negado: o domínio do email não está listado");
      } else {

        // Colocar dados do professor na sessão e redirecionar usuário para o React
        console.log(data);
        window.location.href = 'http://localhost:3000/';
      }

    }

    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('Você foi deslogado.');
      });
    }

  </script>
</body>

</html>